.card_parent_div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    padding: 15px;
    position: relative;
    border-radius: 25px;
    transition: ease-in 0.25s;
    cursor: pointer;
}

.card_parent_div:hover{
    box-shadow: 0px 0px 15px 0px #888888;
}

.bnb_hotel_images{
    height: 225px;
    width: 275px;
    border-radius: 15px;
}

.card_location_rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.Card_Like{
    position: absolute;
    padding-right: 25px;
    padding-top: 25px;
    right: 0px;
    top: 0px;
}

.Card_Rating{
    display: flex;
    align-items: center;
    justify-content: center;
}